<section class="comments">
  {% for comment in comments %}
    <div class="comment">
      <div class="comment-meta">
        <p>
          comment by <span class="author"><a href="#">{{ comment.owner.display_name }}</a></span>
          on <span class="date">{{ comment.creation_date|date }}, {{ comment.creation_date|time }}</span>
          {% if comment.score %}
              with score {{ comment.score }}
          {% endif %}
        </p>
      </div>

      <div class="body">
        <p>{{ comment.text|safe }}</p>
      </div>
    </div>
  {% endfor %}
</section>

