{% extends "base.html" %}

{% block "body" %}
  <section class="questions">
    {% for question in object_list %}
      <div class="question">
        <h2>
            <a href="{% url "qa-question" pk=question.pk %}">{{ question.title }}</a>
        </h2>
        <div class="header">
          <p class="meta">
            by <span class="author">{{ question.owner.display_name }}</span>
            on <span class="date">{{ question.creation_date|date }}, {{ question.creation_date|time }}</span>
            {% for t in question.get_tags %}
                <span class="tag">{{ t }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    {% endfor %}
  </section>

  <section class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&lt; previous</a>
      {% endif %}

      {% for p in paginator.page_range %}
        {% ifequal p page_obj.number %}<span class="current">{{ p }}</span>{% else %}{{ p }}{% endifequal %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next &gt;</a>
     {% endif %}
    </span>
  </section>
{% endblock %}
