{% extends "base.html" %}

{% block "title" %}
  {{ object.title }}
{% endblock %}

{% block "body" %}
  <section class="question detail">
    <section class="header">
      <h1>{{ object.title }}</h1>
      <p class="meta">
        question by <span class="author">{{ object.owner.display_name }}</span>
        on <span class="date">{{ object.creation_date|date }}, {{ object.creation_date|time }}</span>
        {% for t in object.get_tags %}
          <span class="tag">{{ t }}</span>
        {% endfor %}
      </p>
    </section>

    <section class="body">
      {{ object.body|safe }}
    </section>

    {% include "qa/comments.html" with comments=object.get_comments%}

  </section>

  <section class="answers">
    {% for answer in object.get_answers %}
      <div class="answer">
        <p class="meta">
          {% ifequal answer.pk object.accepted_answer_id %}
            <strong class="accepted">ACCEPTED</strong>
          {% endifequal %}
          answer by <span class="author">{{ answer.owner.display_name }}</span>
          on <span class="date">{{ answer.creation_date|date }}, {{ answer.creation_date|time }}</span>
          {% if answer.score %}
              with score {{ answer.score }}
          {% endif %}
        </p>

        <div class="body">
          {{answer.body|safe}}
        </div>

        {% include "qa/comments.html" with comments=answer.get_comments%}
      </div>
    {% endfor %}
  </section>
{% endblock %}
