{% extends "base.html" %}

{% block "body" %}
<div id="content" class="list">
  <section class="questions">
    {% for question in object_list %}
      <div class="question">
        <h2>
            <a href="{% url "qa-question" pk=question.id %}">
              {{ question.title }}
            </a>
        </h2>
        <div class="header">
          <p class="meta">
            by <span class="author">{{ question.owner.display_name }}</span>
            on <span class="date">{{ question.creation_date|date }}, {{ question.creation_date|time }}</span>
            {% for t in question.tags %}
                <span class="tag"><a href="#">{{ t }}</a></span>
            {% endfor %}
          </p>
        </div>
      </div>
    {% endfor %}
  </section>

  <section class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="next">&laquo; previous</a>
      {% endif %}

      {% for p in paginator.page_range %}
        <a href="?page={{ p }}"{% ifequal p page_obj.number %} class="current"{% endifequal %}>{{ p }}</a>
      {% endfor %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="next">next &raquo;</a>
     {% endif %}
    </span>
  </section>
</div>
{% endblock %}
